@charset "utf-8";

@import 'setup';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(
    180deg,
    $gradientDeepBlue 0.11%,
    $gradientMiddleBlue 68.58%,
    $gradientLightBlue 91.55%
  );
}

div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div#root > footer {
  margin-top: auto;
  padding: 1rem;
}

.loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#root > section.hero {
  div.hero-body {
    padding-bottom: 2rem;
  }
  div.header-content-container {
    display: flex;
  }

  div.header-icon-container {
    width: 4rem;

    span.icon {
      height: 100%;
      padding-left: 1rem;
    }
  }

  div.header-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.has-text-gold {
  color: $gold !important;
}
